/* Button styles */

button i {
    margin-left: 5px;
}

/* Spacing */
section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.get-in-touch {
    margin-top: 50px;
}

.media-body {
    margin-top: 20px;
    text-align: center;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}